@import url(./main.css);
/* about banner */
body {
  overflow-x: hidden;
}
.banner {
  background: url("../images/hero-bg-desktop.jpg");
  height: 100vh;
  position: relative;
  z-index: -1;
}
.wave {
  position: absolute;
  bottom: 0;
}
.about-us {
  display: flex;
}
.about-content {
  text-align: center;
  margin-top: 10%;
  padding-left: 5%;
}
.about-content p {
  padding-top: 1%;
  text-align: justify;
}

.learn-more {
  height: 40px;
  width: 100px;
  margin-top: 3%;
  background-color: blue;
  border: none;
  font-weight: 500;
  border-radius: 10px;
  transition: transform .1s ease;
}
.learn-more a {
  text-decoration: none;
  color: white;
}
.learn-more:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.team-image {
  width: 45%;
  height: 30%;
}

.team {
  height: 100vh;
  display: flex;
}
.team__image, .members__image {
  width: 50%;
  height: 90%;
}

.more-section {
  display: flex;
}
.more-section p {
  text-align: justify;
  padding-top: 2%;
  padding-right: 2%;
}
.visit {
  height: 40px;
  width: 100px;
  margin-top: 3%;
  margin-right: 2%;
  background-color: blue;
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  transition: transform .2s ease;
}
.visit a {
  color: white;
  text-decoration: none;
}
.visit:hover {
  transform: scale(1.1);
}
/* media queries */
@media screen and (max-width: 600px) {
  .team-image {
    display: none;
  }
  .about-content p {
    padding-right: 5%;
  }
  .team__image {
    display: none;
  }
  .members__image {
    width: 100%;
  }
  .more-section{ 
    margin-bottom: 2%;
    justify-content: center;
  }
  .about__more {
    padding-left: 2%;
  }
  .blog {
    display: none;
  }
}
