@import url(./main.css);

.banner {
  background-image: url(../images/hero-bg-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
}

.banner__text {
  text-align: left;
  padding: 5%;
}

.banner__text__h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.banner__text p {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 3.5rem;
}

.banner__text a {
  background-color: #242bc2;
  margin-left: 0;
  padding: 18px 24px;
  font-size: 1.25rem;
}

.info {
  padding: 5% 10%;
  text-align: justify;
}

.info__h1 {
  text-align: center;
}

.info p {
  font-weight: 500;
}

.cards {
  background-image: linear-gradient(rgba(56, 27, 237, 0.5) 30%, transparent);
  background-color: #84ceeb;
  text-align: center;
  color: white;
  padding: 5% 0px;
}

.cards__row {
  display: flex;
  flex-wrap: wrap;
  padding: 5% 0px;
  width: 100%;
  justify-content: space-evenly;
}

.cards__row-card {
  background-color: #5680e9;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0px rgb(0, 225, 255);
  margin-bottom: 5%;
  padding: 2rem;
}

.cards__row-card .circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #fff;
  margin: auto;
  margin-bottom: 30px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-weight: 800;
}

.card__info {
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .cards__row-card {
    height: 200px;
    width: 80%;
  }

  .cards__row-card .circle {
    font-size: 3rem;
    height: 75px;
    width: 75px;
    margin-bottom: 15px;
  }

  .cards__row-card {
    padding: 1rem;
  }

  .cards__row {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
}
